.navbar {
  width: 100%;
  background-color: navajowhite;
  height: 5vh;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  transition: 0.5s;
}
.navbar a:hover {
  color: grey;
}
